/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONDO GENERAL */
body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* FONDO POR EVENTO */
.tema-irina {
  background-image: url("fondo.jpg");
}

/* FIX ANDROID */
@media (max-width: 768px) {
  body {
    background-attachment: scroll;
  }
}

/* CAPA OSCURA SUAVE */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* CONTENEDOR VIDRIO */
.contenedor {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 40px 30px;
  width: 90%;
  max-width: 500px;
  animation: fadeIn 1.5s ease;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.fecha {
  margin-bottom: 20px;
  font-size: 1rem;
}

/* COUNTDOWN */
#countdown {
  font-size: 1.3rem;
  margin-bottom: 25px;
}

/* BOTÓN */
.btn {
  display: inline-block;
  padding: 12px 25px;
  background: gold;
  color: black;
  font-weight: bold;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: white;
  transform: scale(1.05);
}

/* ANIMACIÓN */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
